<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>TechTracking</title>
    <link rel="stylesheet" th:href="@{/css/CambioContraseña.css}">
</head>
<body>
<div class="container">
    <h2>Cambia tu contraseña</h2>
    <p>Su contraseña ha caducado. Por favor, cree una nueva para continuar.</p>

    <label for="newPassword">Nueva contraseña</label>
    <input type="password" id="newPassword" placeholder="Ingresa tu nueva contraseña" />


    <label for="confirmPassword">Confirmar nueva contraseña</label>
    <input type="password" id="confirmPassword" placeholder="Confirmar nueva contraseña" />

    <ul class="requirements">
        <li id="length">❌ Al menos 8 caracteres</li>
        <li id="uppercase">❌ Contiene una letra mayúscula</li>
        <li id="lowercase">❌ Contiene una letra minúscula</li>
        <li id="number">❌ Contiene un número</li>
        <li id="symbol">❌ Contiene un símbolo (!@#$%^&*)</li>
        <li id="match">❌ La nueva contraseña debe coincidir con la confirmación.</li>
    </ul>
    <span id="strengthText" class="strength"></span>
    <button id="submitBtn" disabled>Cambiar contraseña</button>
    <input type="hidden" id="token" th:value="${token}" />
</div>

<script th:src="@{/js/cambiarContraseña.js}"></script>
</body>
</html>