<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>TechTracking</title>
    <link rel="stylesheet" th:href="@{/css/listaUsuarios.css}">
</head>
 <body>
    <div class="header">
        <div class="logo"><span class="servi">Servi</span><span class="mark">Marketing</span></div>
        <div class="nav">Gestión de usuarios</div>
        <div class="search"><input type="text" id="search" placeholder="Buscar usuarios ..." /></div>
        <div class="user">SuperAdmin</div>
    </div>

    <div class="overview">
        <h3>Visión general</h3>
        <p>Total usuarios</p>
        <div id="totalUsers"></div>
    </div>

    <div class="user-table">
        <h3>Usuarios</h3>
        <button class="btn" onclick="window.location.href='/superadmin/register'">Crear Usuario</button>
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>ID</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody id="userBody"></tbody>
        </table>
    </div>
    <div id="confirmation" class="confirmation">Eliminación confirmada</div>
    <div id="modalEditar" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalEditar()">&times;</span>
            <h2>Editar Usuario</h2>
            <p id="infoUsuario" class="infoUser" style="margin-top: -10px; margin-bottom: 10px; font-size: 14px; color: #666;"></p>
            <form id="formEditar">
                <input type="email" id="editarCorreo" placeholder="Nuevo correo" required />
                <input type="password" id="editarPassword" placeholder="Nueva contraseña" required />
                <button type="submit" class="btn">Guardar cambios</button>
            </form>
        </div>
    </div>
    <script th:src="@{/js/listaUsuarios.js}"></script>
 </body>
</html>