<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Busqueda de clientes- TechTracking</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/DashboardClientes.css}">
</head>

<body>

<header class="main-header">
    <div class="left">
        <button id="btn-burger" class="burger" aria-label="Abrir menú" aria-expanded="false">☰</button>
    </div>
    <div class="logo-h"><span class="servi">Servi</span><span class="mark">Marketing</span></div>
    <div class="center">Busqueda de clientes</div>

    <div class="right">
        <div class="admin-label">Tecnico</div>
    </div>
</header>

<aside class="sidebar" id="sidebar">
    <div class="brand">
        <div>
            <h3>TechTracking</h3>
        </div>
    </div>
    <nav>
        <ul class="menu">
            <li><a href="/admin/Visitas">📅 Calendario</a></li>
            <li><a href="/chat-fragment">💬 Chat</a></li>
        </ul>
    </nav>

    <form action="/logout" method="post">
        <button class="btn-logout" type="submit">Cerrar Sesión</button>
    </form>
    <img th:src="@{/img/smg.png}" alt="origami" class="origami">

</aside>
<div id="overlay" class="overlay"></div>
<!-- Contenido -->
<main class="content">
    <div class="bienvenida">
        <h2>Bienvenido a TechTracking</h2>
    </div>

    <div class="container">
        <div class="encabezado">
            <h1>Búsqueda de Clientes</h1>
        </div>

        <div class="barra">
            <input type="text" placeholder="🔍 Buscar clientes...">
            <div class="acciones">
                <button type="button" class="nuevo" onclick="window.location.href='/admin/crearclientes'">+ Nuevo Cliente</button>
                <button type="button" class="vincular" onclick="window.location.href='/admin/crearequipo'">Vincular Equipo</button>
            </div>
        </div>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Telefono</th>
                <th>Correo</th>
                <th>Acción</th>
            </tr>
            </thead>
            <tbody id="clientesBody"></tbody>
        </table>

        <div class="paginacion">
            <button>&laquo; Anterior</button>
            <span class="pagina-activa">1</span>
            <button>Siguiente &raquo;</button>
        </div>
    </div>
</main>
</div>

<script th:src="@{/js/dashboard-clientes.js}"></script>
</body>
</html>
