
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Busqueda de clientes- TechTracking</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/historial.css}">
</head>

<body>

<header class="main-header">
    <div class="left">
        <button id="btn-burger" class="burger" aria-label="Abrir menú" aria-expanded="false">☰</button>
    </div>
    <div class="logo-h"><span class="servi">Servi</span><span class="mark">Marketing</span></div>
    <div class="center">Historial</div>

    <div class="right">
        <div class="admin-label">Administrador</div>
    </div>
</header>

<aside class="sidebar" id="sidebar">
    <div class="brand">
        <div>
            <h3>TechTracking</h3>
        </div>
    </div>
    <nav>
        <ul class="menu">
            <li> <a class="sidebar-item" href="/admin">👥 Clientes</a></li>
            <li><a href="/admin/Visitas">📅 Calendario</a></li>
            <li><a href="/chat-page">💬 Chat</a></li>
            <li><a href="/admin/historialC">⏱️ Historial Clientes</a></li>
            <li>
                <form action="/logout" method="post">
                    <button class="btn-logout" type="submit">Cerrar Sesión</button>
                </form>
            </li>
            <li class="sidebar-img">
                <img th:src="@{/img/smg.png}" alt="origami" class="origami">
            </li>
        </ul>
    </nav>

</aside>
<div id="overlay" class="overlay"></div>
<!-- Contenido -->
<main class="content">
       <div id="tecnicosContainer" class="clientes-grid"></div>
</main>
</div>

<script th:src="@{/js/historialT.js}"></script>
</body>
</html>
