<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi página</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <div class="login-box">
        <!--<img src="imagen\SM.png" alt="TechTraking Logo" class="logo">-->
        <h2>Iniciar Sesión en <strong>TechTraking</strong></h2>
        <form id="loginForm">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter your username or email" required>

            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" required>

            <button type="submit">Sign In</button>
            <a href="#" class="forgot">Forgot Password?</a>
        </form>
        <p class="terms">
            By signing in, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.
        </p>
    </div>
</div>
<!--<script th:src="@{/js/scripts.js}"></script>-->
</body>
</html>
