<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro de clientes- TechTracking</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/registroclientes.css}">
</head>

<body>

<header class="main-header">
    <div class="left">
        <button id="btn-burger" class="burger" aria-label="Abrir menú" aria-expanded="false">☰</button>
    </div>
    <div class="logo-h"><span class="servi">Servi</span><span class="mark">Marketing</span></div>
    <div class="center">Registro de clientes</div>

    <div class="right">
        <div class="admin-label">Tecnico</div>
    </div>
</header>

<aside class="sidebar" id="sidebar">
    <div class="brand">
        <div>
            <h3>TechTracking</h3>
        </div>
    </div>
    <nav>
        <ul class="menu">
            <li> <a class="sidebar-item" href="/admin">👥 Clientes</a></li>
            <li><a class="sidebar-item" href="/admin/Visitas">📅 Calendario</a></li>
            <li><a class="sidebar-item" href="/chat-page">💬 Chat</a></li>
        </ul>
    </nav>

    <form action="/logout" method="post">
        <button class="btn-logout" type="submit">Cerrar Sesión</button>
    </form>
    <img th:src="@{/img/smg.png}" alt="origami" class="origami">

</aside>
<div id="overlay" class="overlay"></div>

<!-- Contenedor principal del formulario -->
<div class="form-box">

    <div class="encabezado"> <!-- Encabezado del formulario (logo y título) -->
        <img th:src="@{/img/sm.png}" alt="Logo" class="logo"> <!-- Imagen del logo con clase para darle estilo -->
        <h1>Registro de Cliente</h1> <!-- Título grande que aparece en la parte superior del formulario -->
    </div>

    <form id="registroCliente"> <!-- Inicio del formulario con ID para usarlo en JavaScript -->

        <h2>Información del Cliente</h2> <!-- Subtítulo para los campos de información del cliente -->
        <label for="nit">NIT</label>
        <input type="text" name="nit" placeholder="NIT" id="nit" required> <!-- Campo para ingresar el NIT o número de identificación -->
        <label for="empresa">Empresa</label>
        <input type="text" name="empresa" placeholder="Nombre de la Empresa" id="empresa" required> <!-- Campo para ingresar el nombre de la empresa -->
        <label for="direccion">Dirección</label>
        <input type="text" name="direccion" placeholder="Dirección Principal" id="direccion" required> <!-- Campo para ingresar la dirección -->
        <label for="telefono">Teléfono</label>
        <input type="telefono" name="telefono" placeholder="Teléfono Principal" id="telefono" required> <!-- Campo para ingresar el número de teléfono -->
        <label for="email">Correo</label>
        <input type="email" name="correo" placeholder="Correo Electrónico Principal" id="email" required> <!-- Campo para ingresar el correo electrónico -->

        <div class="checkbox"> <!-- Contenedor para el checkbox de aceptación -->
            <input type="checkbox" name="terminos" id="terminos" required> <!-- Casilla para aceptar términos y condiciones -->
            <label for="terminos" >Acepto los términos y condiciones de la política de privacidad.</label> <!-- Texto que acompaña el checkbox -->
        </div>

        <button type="submit" class="primario">Registrar Cliente</button> <!-- Botón para enviar el formulario -->


        <script th:src="@{/js/crearClientes.js}"></script>
</body>
</html>