<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>TechTracking</title>
    <link rel="stylesheet" th:href="@{/css/intentosfallidos.css}">
</head>
<body>
<div class="card"> <!-- Tarjeta contenedora del mensaje de error -->
    <div class="warning-icon">⚠️</div> <!-- Ícono de advertencia -->
    <h1 class="title">Error</h1> <!-- Título principal -->
    <p class="message">
        Has realizado 3 intentos fallidos de inicio de sesión<br>
        por lo que debes cambiar tu contraseña por seguridad.
    </p> <!-- Mensaje de error -->

    <button class="btn" id="changePasswordBtn">Ir a cambiar mi contraseña</button> <!-- Botón -->
</div>

<script th:src="@{/js/intentosfallidos.js}"></script>
</body>
</html>
